GNOME-xdg-terminals.list
Ladybird/
Thunar/
Wasteland3/
dconf/
evolution/
flipperdevices.com/
gitui/
gnome-initial-setup-done
gnome-session/
gnote/
go/
goa-1.0/
htop/
ibus/
mimeapps.list
monitors.xml
monitors.xml~
nautilus/
nvim
obsidian/
pulse/
service/
service-env/
unity3d/
user-dirs.dirs
user-dirs.locale
vivaldi/
wireshark/
xdg-terminals.list
xfce4/
yazi
zed
zellij
tmux/plugins/
.gsd-keyboard.settings-ported
